---
const { title, href } = Astro.props;
---

<a
  href={href}
  class="text-body underline decoration-neutral-500 underline-offset-4 duration-500 hover:text-special hover:decoration-neutral-300"
  target="_blank"
  rel="noopener noreferrer"
>
  {title}
</a>
